.mercury-revolve,.venus-revolve,.earth-revolve,.mars-revolve,.jupiter-revolve,
.saturn-revolve,.uranus-revolve,.neptune-revolve{
  border: 0.22vmin dashed rgba(128, 128, 126, 0.984);
  opacity: 1;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#sun{
    height: 20vmin;
    width: 20vmin;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: ccircle 20s infinite linear; 
}

#belt {
    height: 150vmin;
    width: 150vmin;
    animation: ccircle 50s infinite linear;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mercury-revolve{
    animation: ccircle 2s infinite linear;
}
.venus-revolve{
    animation: ccircle 5s infinite linear;
}
.earth-revolve{
    animation: ccircle 10s infinite linear;
}
.mars-revolve{
    animation: ccircle 13s infinite linear;
}
.jupiter-revolve{
    animation: ccircle 16s infinite linear;
}
.saturn-revolve{
    animation: ccircle 19s infinite linear;
}
.uranus-revolve{
    animation: ccircle 21s infinite linear;
}
.neptune-revolve{
    animation: ccircle 24s infinite linear;
}

#mercury{
    width: 6.75rem;
    height: 6.75rem;
    animation: ccircle 10s infinite linear; 
}

#venus{
    width: 8rem;
    height: 8rem;
    animation: circle 3s infinite linear; 
}

#earth{
    width: 9rem;
    height: 9rem;
    animation: ccircle 10s infinite linear; 
}

#mars{
    width: 8rem;
    height: 8rem;
    animation: ccircle 10s infinite linear; 
}

#jupiter{
    height: 11rem;
    width: 11rem;
    animation: ccircle 10s infinite linear; 
}

#saturn{
    height: 10rem;
    width: 10rem;
    animation: ccircle 10s infinite linear; 
}

#uranus{
    width: 9.25rem;
    height: 9.25rem;
    animation: ccircle 10s infinite linear; 
}

#neptune{
    width: 5.75rem;
    height: 5.75rem;
    padding: 1rem;
    /* margin-top: 0rem; */
    animation: ccircle 10s infinite linear; 
}

@media (max-width:600px){
    html{
        font-size: 14px;
    }

    .draggable-elements{
        margin: 1.5rem;
    }
}

@keyframes circle {
    from {
      -webkit-transform: rotateZ(0deg)
    }
    to {
      -webkit-transform: rotateZ(360deg)
    }
  }

@keyframes ccircle {
from {
    -webkit-transform: rotateZ(360deg)
}
to {
    -webkit-transform: rotateZ(0deg)
}
}