@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    margin-left: 2rem;
}

.Content {
    position: absolute;
    top: 0;
    background: transparent;
    min-width: 98%;
    min-height: 130vmin;
    display: flex;
}
.complete-ss{
    display: none;
}
  
#background_video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.draggable-elements{
    border: 2px solid white;
    background-color: rgba(250, 248, 248,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    margin-left: 2rem;
    margin-top: 2rem;
    max-height:fit-content;
    width: 13.5rem;
}

.draggable{
    margin: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    transition: opacity 0.2s;
    clip-path: circle(40%);;
}

.droppable-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    float: center;
    width: 100%;
}

.orbit{
  border: 0.22vmin dashed white;
  opacity: 1;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.droppable{
    position: relative;
    margin: auto;
    margin-top: -1rem;
    top: 0;   left: 0;   right: 0;   bottom: 0;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    background-color: transparent;
    border: 2px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
} 

.droppable.droppable-hover{
    border-width: 3px;
    transform: scale(1.1);
}

.droppable.dropped{
    border-width: 0px;
    color: white;
}

.droppable.dropped img{
    pointer-events: none;
}

.draggable.dragged{
    user-select: none;
    opacity: 1;
}

.draggable.dragged:hover{
    opacity: 0.1;
}

.guide{
    display: flex;
    float: center;
    /* flex-direction: column-reverse; */
    flex-direction: column;
    width: 15%;
    height: 20%;
    background: transparent;
    /* border: 2px solid white; */
    margin: 3rem;
    margin-right: 1rem;
    border-radius: 20px;
    color: black;
    font-weight: 800;
}

.guide div{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
}

.guide img{
    width: 18rem;
    height: 18rem;
    float: center;
}

.guide button{
    background-color: white;
    font-size: 1rem;
    color: black;
    padding: 0.75rem;
    margin: 1rem;
    width: 80%;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.guide button:hover{
    background-color: grey;
    color: white;
}

.instructions{
    background-color: aqua;
    padding: 1.2rem;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 10px 18px #ffffff;
}

#instruct img{
    height:100%; width:100%;
}

.alert {
    width: 50%;
    /* height: 40%; */
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    min-height: fit-content;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: red;
}

.alert img{
    width: 30%;
    height: 40%;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.alert p{
    font-size: 15px;
    padding-bottom: 20px;
    text-align: justify;
    min-height: fit-content;
}

.alert h3{
    text-transform:uppercase;
    color: red;
    display: block;
}

@media (max-width:600px){
    html{
        font-size: 14px;
    }

    .draggable-elements{
        margin: 1.5rem;
    }
}

@keyframes ccircle {
    from {
        -webkit-transform: rotateZ(360deg)
    }
    to {
        -webkit-transform: rotateZ(0deg)
}
}